.roundborder() {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

body {
  background-color: #fafafa;
}
html,body,th,td,input,select,textarea,button,div,p,a,span,li{
  outline: 0 !important;
  box-shadow: inset 0 0 0 !important;
}
.bar {
  height: 18px;
  background: lawngreen;
}

.behind {
  position: relative;
  z-index: 1;
}

#wrap {
  width: 1024px;
  margin: auto;
  position: relative;
  #left {
    float: left;
    width: 174px;
    .list-unstyled {
      padding-left: 10px;
      padding-top: 10px;
      font-size: 20px;
      li {
        padding-left: 20px;
        font-size: 14px;
        cursor: pointer;
        &:hover {
          background-color: lightgray;
        }
      }
    }
  }
  #middle {
    width: 550px;
    float: left;
    #writing-pane {
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      border-radius: 4px;
      margin: 5px 10px 10px 10px;
      background-color: white;
      border: 1px solid #f1f1f1;
      ul {
        font-size: 12px;
        li {
          width: 25%;
          a {
            text-align: center;
            padding: 6px;
            margin: 0;
            height: 30px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            border-radius: 0;
          }
        }
      }
      .tab-content {
        .tab-pane {
          padding: 0 0 0 0;
          #saleTitle {
            width: 480px;
            .roundborder();
            border-bottom: 0;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
            height: 40px;
            box-shadow: inset 0 0 0;
            margin: 0 auto;
          }
          #publiBody {
            z-index: 1;
            min-height: 47px;
            height:100%;
            border-top-right-radius: 0;
            border-top-left-radius: 0;
            box-shadow: inset 0 0 0;
            width: 528px;
            border: 0;
            padding: 6px 9px;
            border-radius: 0;
            img {
              height: auto !important;
              display: block;
              max-width: 528px;
              margin-left: -9px;
              margin-top: 10px;
              margin-bottom: 10px;
            }
          }
          #sendBody {
            z-index: 1;
            min-height: 47px;
            height:100%;
            box-shadow: inset 0 0 0;
            width: 528px;
            border: 0;
            padding: 6px 9px;
            border-radius: 0;
            img {
              height: auto !important;
              display: block;
              max-width: 528px;
              margin-left: -9px;
              margin-top: 10px;
              margin-bottom: 10px;
            }
          }
          hr {
            margin: 5px 0 0 0;
            border-top: 1px solid #f1f1f1;
          }
          .form-group {
            .input-group {
              .input-group-addon {
                img {
                  width: 20px;
                  height: 20px;
                }
              }
            }
          }
          .fileinput {
            width: 25%;
            border-right: 1px solid #eee;
            .btn {
              position: relative;
              float: left;
              width: 25% !important;
              height: 30px;
              overflow: hidden;
              cursor: pointer;
              padding: 0 0 0 0;
              border-radius: 0;
              border-bottom-left-radius: 4px;
              font-size: 12px
            }
            .fileupform {
              display: inline-block;
              position: absolute;
              margin-left: -96px;
              margin-top: -6px;
              width: 133px;
              height: 30px;
              filter: alpha(opacity=0);
              opacity: 0;
              -moz-opacity: 0;
              cursor: pointer;
            }
          }
          .taginput {
            width: 50%;
            height: 30px;
            align-items: center;
            margin: 0 5px 0 5px;
            input[type=text] {
              width: 100%;
              height: 22px;
              border-radius: 0;
              box-shadow: inset 0 0 0;
              text-align: center;
              border-top: 0;
              border-bottom: 0;
              border-right: 1px solid #eee;;
              border-left: 1px solid #eee;
              font-size: 12px;
              padding: 2px;
            }
          }
          .regbtn {
            width: 25%;
            height: 100%;
            button {
              width: 100%;
              padding: 0 0 0 0;
              text-align: center;
              border-radius: 0;
              border-bottom-right-radius: 4px;
              height: 100%;
              font-size: 12px;
              outline: 0;
              border: 0;
              border-left: 1px solid #eee;
            }
          }
          #publixhButton{
            border-top: 1px solid #eee !important;
          }
          .cateinput {
            height: 30px;
            width: 25%;
            padding: 0 0 0 0;
            margin: 0 10px 0 10px;
            border-bottom: 1px solid #eee;
            .div {
              width: 100%;
              .btn {
                width: 100%;
                padding: 0 0 0 0;
                height: 30px;
                border-radius: 0;
                border: 0;
                font-size: 12px;
              }
            }
          }
          .subcateinput {
            height: 30px;
            width: 25%;
            border-bottom: 1px solid #eee;
            border-left: 1px solid #eee;
            border-right: 1px solid #eee;
            .div {
              width: 100%;
            }
            .btn {
              width: 100%;
              padding: 0 0 0 0;
              height: 30px;
              border-radius: 0;
              border: 0;
              font-size: 12px;
            }
          }
          }
          .priceinput {
            width: 50%;
            height: 30px;
            padding: 0 0 0 0;
            .form-group {
              margin: 0 0 0 0;
              height: 30px;
            }
            .input-group {
              width: 100%;
              padding: 0 0 0 0;
              .input-group-addon, input {
                padding: 0 10px;
                border: 0;
                font-size: 12px;
                }
            }
          }
        }
      }
    }
    .item, .item-for-sale {
      margin: 5px 10px 10px 10px;
      width: 530px;
      height: inherit;
      float: left;
      .roundborder();
      background-color: white;
      border: 1px solid #f1f1f1;
      .item-for-sale .tail .nav-tabs > li.active > a,
      .item-for-sale .tail .nav-tabs > li.active > a:focus,
      .item-for-sale .tail .nav-tabs > li.active > a:hover {
        border-bottom: 1px solid #f1f1f1
      }
      .subrep {
        width: 90%;
        margin-left: 9%;
      }
      .commentReg_sub {
        width: 460px !important;
        margin-left: 4px;
        border-radius: 4px;
        box-shadow: inset 0 0 0;
        padding: 8px 10px;
        font-size: 12px;
        border: 1px solid #ddd;
        min-height: 32px;
        height: 100%;
        word-break: break-all;
      }
      .commentReg {
        width: 100% !important;
        box-shadow: inset 0 0 0;
        padding: 8px 10px;;
        font-size: 12px;
        border-radius: 0;
        border: 1px solid #fff !important;
        border-top: 1px solid #f1f1f1 !important;
        min-height: 32px;
        height: 100%;
        margin-top: 10px;
        word-break: break-all;
      }

      .header {
        float: left;
        padding: 10px 10px 0 10px;
        width: 528px;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        .profilepic {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
        .writer {
          font-size: 12px;
          color: #5f5f5f;
          float: left;
          margin: 3px 0;
          width: 75%;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
        .conf {
          float: right;
          font-size: 16px;

          a {
            &:hover {
              text-decoration: none;
              cursor: pointer;
            }
          }
        }
      }
      .body {
        float: left;
        margin: 5px 9px 10px 9px;
        width: 510px;
        word-break: break-all;
        line-height: 22px;
        .BodyPic {
          width: 100%;
          margin-left: auto;
          margin-right: auto;
        }
        .thumbPic {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          max-width: none !important;
          margin: 0;
        }
        img {
          height: auto !important;
          display: block;
          max-width: 528px;
          margin-left: -9px;
          margin-top: 10px;
          margin-bottom: 10px;
          -webkit-filter: grayscale(1); /* Webkit */
          filter: gray; /* IE6-9 */
          filter: grayscale(1); /* W3C */
          transition: all 0.3s ease-in-out;
        }
      }
      hr {
        float: left;
        color: darkslategrey;
      }
      .tail {
        float: left;
        font-size: 12px;
        margin: 9px 9px 4px 9px;
        .badge {
          cursor: pointer;
        }
        a {
          margin: 0;
          cursor: pointer;
          padding: 6px 3px 6px 0;
          border-radius: 0;
          width: 100%;
          background-color: transparent;
          text-align: center;
        }
        .tknock {
          width: 127.5px;
          text-align: center;
          background-color: white;
        }
        .cateinput, .subcateinput, .priceinput, .fileinput, .taginput, .regbtn, .tcomment, .tshare {
          width: 127.5px;
          text-align: center;
          background-color: white;
          height: 22px
        }
        .tprice {
          width: 127.5px;
          text-align: center;
          background-color: white;
        }
        .commentReply {
          .profilepic {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }
          .rep {
            width: 452px;
            word-break: break-all;
            vertical-align: top;
            font-size: 13px;
            .timeago {
              font-size: 10px;
              color: gray;
              margin-left: -2px;
              vertical-align: text-bottom;
            }
            .repaction {
              float: right;
            }
          }
        }
      }
    }
  }
  #right {
    float: left;
    .conf {
      position: fixed;
      width: 300px;
      height: 75px;
      top: 0;
      z-index: 1000;
      border: 1px solid #f1f1f1;
      background: #fbfbfb;
      border-bottom-right-radius: 4px;
      border-bottom-left-radius: 4px;
      font-size: 12px;
      #logo {
        margin: 5px;
        opacity: 0.7;
        height: 30px;
        width: 80px;
        overflow: hidden;
        float: left;
        cursor: pointer;
        position: relative;
        .roundborder();
      }
      #controller {
        .dropdown-menu {
          padding-bottom: 0;
        }
        .divider {
          background-color: royalblue;
          margin-bottom: 0;
          padding-bottom: 0;
        }
        .btn-danger .badge {
          color: white;
          background-color: lightgray;
          padding: 3px 5px;
          max-width: 35px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        .pchange {
          width: 34px;
          height: 34px;
          display: block !important;
          background-size: 30px 30px;
          background-repeat: no-repeat;
          background-position: 2px 2px;
        }
        .btn-danger {
          background-color: transparent;
          border-color: transparent;
          &:hover, &:focus {
            color: black;
          }
        }
        #configbtn {
          width: 34px;
          height: 34px;
          background-size: 30px 30px;
          background-repeat: no-repeat;
          background-position: 2px 2px;
          background-color: transparent;
          border-color: transparent;
          outline: 0;
          &:hover, &:focus {
            color: black;
            outline: 0;
          }
        }
        .btn-group {
          ul {
            background-color: #fff;
            overflow-y: auto;
            overflow-x: hidden;
            height: auto;
            max-height: 500px;
            width: 300px;
            z-index: 10000;
            margin-left: -270px;
            border-radius: 0;
            li {
              width: 100%;
              padding: 10px;
              margin-top: -5px;
              &:hover {
                background-color: #f4f4f4;
              }
              a {
                width: 81%;
                text-decoration: none;
                color: #434343;
                font-size: 12px;
              }
            }
          }
        }
        #usrpic {
          float: left;
          cursor: pointer;
          margin: 3px 0;
          background-color: #e8e8e8;
          border-top-left-radius: 20px;
          border-bottom-left-radius: 20px;
        }
        #username {
          background-color: transparent;
          color: #434343;
          max-width: 70px;
          padding: 7px 2px !important;
          font-size: 12px !important;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          display: none;
        }
      }
      #gsearch {
        width: 96%;
        height: 28px;
        .roundborder();
        font-size: 12px;
        padding: 2px 30px 2px 10px;
        border: 1px solid #f1f1f1;
        background-color: white;
        border-radius: 4px;
        margin-left: 2%;
      }
      .dropdown {
        ul {
          padding: 0;
          left: 2px;
          width: 295px;
          li li {
            padding-left: 5px;
            padding-right: 5px;
            &:hover {
              background-color: grey;
            }
            a {
              text-decoration: none;
              color: dimgrey;
              margin: 2px 0 2px 0;
              cursor: pointer;
            }
          }
        }
      }
    }
    .market {
      .roundborder();
      top: 95px;
      width: 300px;
      height: auto;
      position: relative;
      z-index: 1;
      overflow: hidden;
      background-color: white;
      border: 1px solid #f1f1f1;
      #market-nav {
        width: 100%;
        #market-nav-carousel {
          width: 300px;
          height: 100%;
          min-height: 815px;
        }
        div[role="tabpanel"] {
          width: 300px;
        }
      }
    }
  }


.carousel-control.right, .carousel-control.left {
  background-image: none;
  width: 15%;
  height:50px;
  padding: 13px 8px;
  font-size: 14px
}
.carousel-inner .nav-tabs>li:hover>a,
.carousel-inner .nav-tabs>li.active>a,
.carousel-inner .nav-tabs>li.active>a:focus,
.carousel-inner .nav-tabs>li.active>a:hover{
  border: 0 !important;
  border-radius: 4px !important;
  padding: 8px !important;
  font-weight: 700;
  background-color: white !important;
}
.carousel-inner .nav-tabs>li>a{
  height:36px;
  padding: 8px !important;
}
a[href="#now"], a[href="#monthly"] {
  margin-left: 50px
}

.catalogimg {
  max-width: 100%;
  height: auto;
  z-index: 4;
  position: fixed;
}

li a {
  cursor: pointer;
}

.fileinput {
  color: #5f5f5f;
  background-color: white;
  font-size: 12px;
  text-align: center;
  border-bottom-left-radius: 4px;
}

.fileinput.active, .fileinput.focus, .fileinput:active, .fileinput:focus, .fileinput:hover {
  color: #5f5f5f;
  background-color: #eee;
}

.fileinput.active, .fileinput.focus, .fileinput:active, .fileinput:focus {
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}

.btn-primary.active, .btn-primary.focus, .btn-primary:active, .btn-primary:focus, .btn-primary:hover, .open > .dropdown-toggle.btn-primary {
  color: #5f5f5f;
  background-color: #eee;
  outline: 0;
}

.subsprofile {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.nameuser {
  float: left;
  margin-top: 12px;
}

.accordion-heading {
  float: right;
  height: 25px;
  margin-top: 11px;
  margin-left: 4px;
}

.accordion-body {
  float: left;
  width: 100%;
  margin-bottom: 5px;
  margin-top: 5px;
  padding: 8px;
  background-color: #ffffff;
  border: 1px solid #f1f1f1;
}

.sungho-writable {
  float: left;
  width: 100%
}

.newcontent {
  float: left;
  margin-top: 11px;
  margin-left: 4px;
}
#dirSublist,
#expSublist,
#categorySelect,
#subcategorySelect{
  min-width: 100px !important;
  width: 100%;
  box-shadow: 0 0 0;
  border-top: 0;
}
#categorySelect li,
#subcategorySelect li{
  width: 100% !important;
  padding: 0 3px;
}
#dirSublist li:last-child{
  margin-top: 10px
}
#middle .conf .dropdown-menu {
  width: 100% !important;
  position: absolute !important;
  border: 1px solid #f1f1f1 !important;
  border-radius: 4px !important;
  padding: 5px 5px !important;
  margin-left: -125px;
}
.dropdown-menu>li>a:focus,
.dropdown-menu>li>a:hover {
  color: #262626;
  text-decoration: none;
  background-color: #fafafa;
}
#wrap #middle #writing-pane ul li ul li {
  width: 100%;
  padding: 0 3px;
}
.modal-dialog{
  width: 540px;
  margin: 0 auto;
  margin-top: 5px;
  margin-bottom: 5px;
}
.modal-backdrop{
  position: fixed
}
#saleTitle-mod {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border: 0;
  border-bottom: 1px solid #f1f1f1 !important;
  box-shadow: inset 0 0 0;
  width: 95%;
  margin-left: 2.5%;
  margin-top: 5px;
  padding: 0;
}

#publiBody-mod {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  box-shadow: inset 0 0 0;
  width: 95%;
  margin-left: 2.5%;
  border: 0;
  padding: 0;
}
#publiBody-mod img{
  max-width: 510px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

#publixh-mod hr,
#send-mod hr {
  margin-top: 5px;
  margin-bottom: 0;
}

#publixh-mod .input-group-addon img {
  height: 20px;
}

#mod-form #mod-pane .dropdown .dropdown-toggle,
#mod-form #mod-pane .dropdown .dropdown-toggle:hover,
#mod-form #mod-pane .dropdown .dropdown-toggle:active,
#mod-form #mod-pane .dropdown .dropdown-toggle:focus {
  border: 1px solid transparent;
}

#mod-form #mod-pane .dropdown .dropdown-toggle {
  text-align: center;
  width: 100%;
  padding: 5px 0;
  margin: 0 0 1px 0;
}
#mod-pane .nav-tabs>li{
  width: 50% !important;
}
#mod-pane ul li ul,
#mod-pane ul li ul li{
  width: 100%;
  padding: 3px;
}
#mod-form #mod-pane .dropdown-menu {
  text-align: center;
  border-top: 1px solid transparent;
}

.accordion-inner {
  overflow: hidden;
}

#repnav-.nav-tabs > li.active > a,
#repnav-.nav-tabs > li.active > a:focus,
#repnav-.nav-tabs > li.active > a:hover {
  border: 0;
}

.blank {
  width: 127px;
  height: 22px;
  background-color: white;
  border: 1px solid white;
  border-left: 0;
  border-bottom: 0;
}

#categorySelect,
#subcategorySelect,
#categorySelect-mod,
#subcategorySelect-mod {
  margin-top: 0;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

.noti-date{
  font-size: 12px;
  display: block;
  text-align:center;
}
#notilist li a,
#pinlist .pin-body{
  width:80% !important
}
#pinlist li:first-child{
  display: none;
}
#pinlist .pin-body{
  position: absolute;
}

.load-item {
  margin: auto;
}
#send-mod>table,
#publixh-mod>table{
  width:100%
}
#send-mod .taginput,
#publixh-mod .taginput{
  width: 50%;
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
}
#send-mod .fileinput,
#publixh-mod .fileinput {
  width: 25%;
}
#sendButton-mod,
#publixhButton-mod{
  width: 100% !important;
  height: 32px;
  border-radius: 0;
  border-bottom-right-radius: 4px;
  PADDING: 0 !IMPORTANT;
}
#send-mod .fileinput .btn,
#publixh-mod .fileinput .btn {
  position: relative;
  float: left;
  width: 133px !important;
  height: 22px;
  overflow: hidden;
  cursor: pointer;
  padding: 0 0 0 0;
  border-radius: 0;
  border-bottom-left-radius: 4px;
  font-size: 12px;
}

#send-mod .fileinput .fileupform,
#publixh-mod .fileinput .fileupform {
  display: inline-block;
  position: absolute;
  margin-left: -90px;
  margin-top: -3px;
  width: 133px;
  height: 22px;
  filter: alpha(opacity=0);
  opacity: 0;
  -moz-opacity: 0;
  cursor: pointer;
}
#sendBody-mod {
  margin-top: 5px;
  box-shadow: inset 0 0 0;
  width: 95%;
  margin-left: 2.5%;
  border: 0;
  padding: 0;
}
#sendBody-mod img{
  max-width: 510px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

.tag-editor {
  width: 264px;
  height: auto;
  border: 0 !important;
}
.tag-editor li {
  width: auto !important;
  vertical-align: middle;
  margin-bottom: -1px !important;
}
.body-tag {
  color: #5f5f5f;
  background: #e8e8e8;
  overflow: hidden;
  cursor: pointer;
  border-radius: 2px;
  padding: 4px;
  line-height: 2.2em;
  font-size: 11px;
}
.body-tag:hover{
  color: #000;
}
.content-body-rep-wrap{
  margin: 0 10px 10px 10px;
}
.item-profile-wrap{
  float: left;
  position: relative;
  width: 24px;
  height: 24px;
  margin-right: 10px;
  overflow: hidden;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.rep-profilepic-wrap{
  position: relative;
  width: 34px;
  height: 34px;
  margin: 0 5px 0 5px;
  vertical-align: top;
  overflow: hidden;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.subpic-wrap{
  width: 24px;
  height: 24px;
  margin: 10px;
  margin-bottom: 0;
  float: left;
  position: relative;
  overflow: hidden;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

.form-control {
  border: 1px solid #f1f1f1;
}
.form-control:focus{
  border: 1px solid #f1f1f1;
}

.knock .pubico{
  vertical-align: sub;
  font-size: 18px;
  font-weight: 700;
  color: #e3e3e3;
  position: absolute;
  margin: -3px 0 0 -18px !important;
}
.knocked{
  color: #394F63 !important;
  transition: all 0.15s ease-in-out;
}
.usrpic-wrap{
  position: relative;
  overflow: hidden;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  margin: 5px;
}
.usrpic-wrap img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

.caret, .caret-repbtn, .caret-repbtn_sub{
  margin: 5px !important;
  cursor: pointer !important;
}

.now-list-item,
.daily-list-item,
.weekly-list-item {
  height: 200px;
  width: 96%;
  float: left;
  border-bottom: 1px solid #f1f1f1;
  margin: 2%;
}
#now-hot-list li,
#daily-hot-list li,
#weekly-hot-list li {
  list-style-type: none;
  font-size: 12px
}
.now-list-item span,
.daily-list-item span,
.weekly-list-item span{
  text-align: center;
  margin-top: -5px;
  position: relative;
  width: 250px;
  margin-left: auto;
  margin-right: auto;
}
.hot-pic-wrap {
  height: 162px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  -webkit-filter: grayscale(1); /* Webkit */
  filter: gray; /* IE6-9 */
  filter: grayscale(1); /* W3C */
  transition: all 0.3s ease-in-out;
}
.hot-pic-wrap:hover{
  -webkit-filter: grayscale(0%);
}
.hot-pic {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 288px;
}
.hot-body,
.hot-data{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 12px;
  font-weight: 700;
  padding: 0 10px;
}
.hot-body{
  display: block;
  margin-top: 8px;
}
.hot-knock,
.hot-reply,
.hot-data{
  padding: 0 5px 0 5px;
  vertical-align: text-bottom;
  display: none;
}
#wrap #middle .item .header .conf .btn-group button,
#wrap #middle .item-for-sale .header .conf .btn-group button{
  border: 0 !important;
  height: 28px;
  margin-top: -3px;
  background-color: transparent;
}
.content-date,
.content-expose{
  margin-left: .5%;
  font-size: 12px;
  margin-top: 0.7%
}
.content-expose{
  margin-right: 2%;
}
.content-folder,
.content-category{
  font-size: 12px;
  cursor: pointer;
  color: #5f5f5f;
  padding: 1px 8px;
  background-color: #e8e8e8;
  border-radius: 10px;
}
.content-folder a{
  float: none !important
}
.commentReg .dropdown button{
  float: right;
  padding: 0;
  border: 0;
  background-color:transparent;
  margin-right: 1%;
  margin-top: -0.6%;
}
.commentReg .dropdown ul{
  display: none
}
#community{
  float: left;
  width: 100%;
}
.noti-img-wrap,
.pin-pin-wrap{
  width: 50px;
  height: 50px;
  float: left;
  position: relative;
  overflow: hidden;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.noti-img,
.pin-pic{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#notilist li a,
.pin-list a{
  display: inline-block !important;
  min-height: 50px !important;
  white-space: normal;
  padding: 3px 10px !important;
}
#li-noticenter a:hover,
#li-noticenter a:focus,
#li-noticenter a:active{
  background-color: transparent !important;
}
#notilist li a:hover,
#notilist li a:focus,
#notilist li a:active,
.pin-list a:hover,
.pin-list a:focus,
.pin-list a:active{
  background-color: transparent !important;
}
#contentCost{
  box-shadow: inset 0 0 0;
  border: 1px solid #f1f1f1;
  height:30px;
}
.market ul{
  padding: 5px;
  border: 0 !important;
}
.accordion-inner div{
  margin: 5px 0 5px 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.item-category:hover,
.item-sub_category:hover,
.content-folder:hover{
  color: #000
}
.reply-tag-btn {
  float: right;
  margin-top: -33px;
  padding: 6px 12px 6px 6px !important;
}
.donate-btn {
  float: right;
  margin-top: -33px;
  padding: 6px 6px !important;
}
.reply-tag-btn,
.donate-btn {
  background-color: transparent !important;
  border-color: transparent !important;
  outline: 0 !important;
  color: gray;
}
.reply-tag-btn:active,
.reply-tag-btn:focus,
.donate-btn:active,
.donate-btn:focus {
  background-color: transparent !important;
  border-color: transparent !important;
  outline: 0 !important;
  box-shadow: 0 0 0 !important;
}
.donate-form,
.rep-tag-input{
  border: 0 !important;
  box-shadow: inset 0 0 0 !important;
}
.rep_tag-ul,
.donate-input-ul{
  left: 60%;
  right:0;
  padding: 0;
  height:36px;
}
.donate-span{
  color: #C35D5B;
  background: #FFDBDB;
  overflow: hidden;
  cursor: pointer;
  border-radius: 2px;
  padding: 4px;
  line-height:1.8em;
  margin-right: 5px;
}
.rep-tag{
  color: #46799b;
  background: #e0eaf1;
  overflow: hidden;
  cursor: pointer;
  border-radius: 2px;
  padding: 4px;
  line-height: 1.8em;
  margin-right: 5px;
}
.new-folder{
  border: 1px solid #f1f1f1 !important;
  box-shadow: inset 0 0 0 !important;
  padding: 6px;
}
.pico-folder-plus{
  color: gray;
  display: inline-block;
  position: relative;
  left: 104px;
  top: 6px;
}
.pico-folder,
.pico-file-plus,
.pico-pen2:before,
.pico-comment,
.pico-share{
  padding-right: 5px !important
}
.itemMod,
.itemDel,
.itemTop,
.itemReport{
  text-align: center;
  padding: 3px 10px !important;
}
.pico-content-edit,
.pico-content-remove,
.pico-kkuk-up,
.pico-alert{
  float: left;
}
.pico-search{
  display: inline-block;
  position: relative;
  top: -21px;
  left: 270px;
}
#searchResult li li{
  height: 40px;
  padding: 9px
}
#searchResult li li:hover,
#searchResult li li:active,
#searchResult li li:focus{
  background-color: #f4f4f4 !important;
  border-radius: 2px;
}
#search-body{
text-align: center;
}
#search-body:hover,
#search-body:active,
#search-body:focus{
  border-radius: 2px;
}
.commentReply td{
  float:left
}
#searchResult .menu li>div{
  height: 34px;
  width: 34px;
  position: relative;
  float:left;
  top: -6px;
  margin-right: 6px;
  overflow: hidden;
  border-radius: 50%;
}
#searchResult .menu li>div img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 34px;
}
a:hover{
  text-decoration: none !important;
}
#writing-pane .active>a{
  background-color: #fafafa;
  border: 0;
}
#writing-pane .nav-tabs{
  border-bottom: 1px solid #f1f1f1 !important;
  padding-bottom: 1px;
}
.nav .open>a, .nav .open>a:focus, .nav .open>a:hover{
  border: 0;
  background-color: #fafafa;
}
.nav>li>a{
  border: 0;
}
.nav>li>a:focus, .nav>li>a:hover{
  border: 0;
  background-color: #fafafa;
}
#wrap #middle #writing-pane .tab-content .tab-pane #saleTitle{
  border: 0;
  border-bottom: 1px solid #f1f1f1;
}
#repnav-{
  border: 0;
}
#repnav->li{
  width: 10%
}
.subrep .rep{
  width: 405px !important;
}

.pin-list span{
  display:inline-block;
  width: 25%;
  margin-top: 30px;
  text-align:center;
  height: 22px;
}
.pin-list .del-pin{
  line-height: 1.3;
  color: #46799b;
}
.del-pin{
  position: absolute;
  cursor: pointer;
}
.del-pin:hover{
  color: #ddd
}
.reply-del{
  color: #ddd
}
.repdel,
.sub-repdel{
  font-size: 10px;
  margin: 0 0 0 10px !important;
  color: #ddd;
}
.carousel-inner .item div .nav li{
  width: 35% !important;
  text-align: center;
}
.carousel-inner .item div .nav li:first-child{
  margin-left: 15%
}
#best-category{
  border: 0;
  color: #808080;
  background-color: transparent;
  position:absolute;
  z-index:1;
  padding:12px 16px;
}
#best-category:hover,
#best-category:active,
#best-category:focus{
  background-color: transparent;
  color: black;
}
#best-category-sel {
  WIDTH: 100%;
  MARGIN-TOP: 15%;
  border-radius: 0;
  border: 0;
  border-bottom: 1px solid #f1f1f1;
  padding: 0 30px;
}
.checkbox-inline{
  padding: 0;
  margin: 5px 20px !important;
  width: 32%;
}
.thumbPic-wrap{
  width: 100px;
  height: 100px;
  position: relative;
  overflow: hidden !important;
  display: inline-block;
  margin: 0 10px 0 0;
  border-radius: 2px;
  -webkit-filter: grayscale(60%);
  transition: all 0.3s ease-in-out;
}
.thumbPic-wrap:hover{
  -webkit-filter: grayscale(0%);
}
#publixh-mod table tbody tr .priceinput .form-group{
  margin-bottom: 0 !important;
}
#sendBody-mod,
#publiBody-mod{
  height: 100%;
  padding-top: 6px;
}
#right .conf button{
  color: #434343;
}
#community-btn,
#subscribe-btn{
  margin: 15px 0 0 10px;
  cursor: pointer;
  color: #5f5f5f;
}
#community-btn:hover,
#subscribe-btn:hover{
  color: #000;
}
.tcomment, .tshare{
  border-radius: 10px;
}
#logo img{
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.oi{
  display: inline-block;
  border-radius: 4px;
  padding: 40px 10px;
  background-color: #f9f9f9;
  font-size: 12px;
  color: #434343;
  position: absolute;
}
#li-noticenter{
  display: none;
}
#hasInput>li{
  width: 96%;
  margin-left: 2%;
}

.pre-body-pic{
  width: 528px;
  margin-left: -9px;
  margin-top: 10px;
  margin-bottom: -10px;
}
.pinned{
  color: #46799b !important;
  transition: all 0.3s ease-in-out;
}
.disabled{
  background-color: transparent !important;
}
.checkbox{
  text-align: center;
  padding: 5px;
  border-bottom: 1px solid #f1f1f1;
}
.knocked-image{
  -webkit-filter: grayscale(0%) !important;
}
#usr{
  margin: 3px 0;
  background-color: #e8e8e8;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  height: 34px;
}
#result-for{
  position: fixed;
  width: 174px;
  margin-top: 10px;
  border-radius: 4px;
  font-size: 12px;
  text-align: center;
  padding: 5px 10px;
  color: #ffffff;
  background-color: #bbbbbb;
  word-break: normal;
  box-shadow: 0 6px 12px rgba(0,0,0,.175) !important;
}
.opend-comment{
  margin: 9px 9px 0 9px !important;
}
.folder-cate{
  margin-top: 3px;
  display: inline-block;
  width: 100%;
  padding-left: 30px;
}
.item-for-sale .title {
  font-size: 12px;
  font-weight: 700;
  display: inline;
  margin: 10px;
  vertical-align: baseline;
  padding-left: 5px;
  border-left: 1px solid #e3e3e3;
  color: #5f5f5f;
}
.rep-tag-friend{
  background-color: white;
}
.rep-tag-friend-pic-wrap{
  width: 50px;
  height: 50px;
  overflow: hidden;
  border-radius: 50%;
  margin: 5px;
  display: inline-block;
}
.rep-tag-friend-name{
  height: 50px;
  margin: 5px;
  position: absolute;
  padding: 15px 20px;
}
//유튜브
#mod-pane div button,
#publixh div div button,
#send div:nth-child(2) button {
  border: 0;
}
#send-mod,
#publixh-mod{
  max-height: 100%;
}
//여기부터 report CSS
#report-button {
  border: 1px solid #f1f1f1;
  padding: 2px;
  width: 174px;
  border-radius: 4px;
  background: #434343 ;
  color: #fff;
  font-size: 14px;
  text-decoration: none;
  vertical-align: middle;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  outline: 0 !important;
}
#report{
  float: left;
  width: 174px !important;
  margin-top: 10px;
  min-height: 130px;
  overflow-y: hidden;
  border-radius: 4px;
  border: 1px solid #f1f1f1;
  border-bottom: 0;
  box-shadow: inset 0 0 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
