@font-face {
    font-family: 'publixherico';
    src:    url('fonts/publixherico.eot?y0bc1u');
    src:    url('fonts/publixherico.eot?y0bc1u#iefix') format('embedded-opentype'),
        url('fonts/publixherico.ttf?y0bc1u') format('truetype'),
        url('fonts/publixherico.woff?y0bc1u') format('woff'),
        url('fonts/publixherico.svg?y0bc1u#publixherico') format('svg');
    font-weight: normal;
    font-style: normal;
}

.pubico {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'publixherico' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.pico-knock:before {
    content: "\e901";
}
.pico-arrow:before {
    content: "\e900";
}
.pico-edit:before {
    content: "\e902";
}
.pico-search:before {
    content: "\e903";
}
.pico-flag:before {
    content: "\e906";
}
.pico-top:before {
    content: "\e907";
}
.pico-alert:before {
    content: "\e908";
}
.pico-down-right:before {
    content: "\e909";
}
.pico-plus:before {
    content: "\e90b";
}
.pico-comment:before {
    content: "\e90c";
}
.pico-content-edit:before {
    content: "\e90f";
}
.pico-content-remove:before {
    content: "\e910";
}
.pico-mas-star:before {
    content: "\e911";
}
.pico-x:before {
    content: "\e912";
}
.pico-pen:before {
    content: "\e913";
}
.pico-swap:before {
    content: "\e914";
}
.pico-down-tri:before {
    content: "\e916";
}
.pico-up-tri:before {
    content: "\e91b";
}
.pico-bell:before {
    content: "\e91c";
}
.pico-fill:before {
    content: "\e91d";
}
.pico-coin:before {
    content: "\e91f";
}
.pico-person-plus:before {
    content: "\e920";
}
.pico-24:before {
    content: "\e921";
}
.pico-cog:before {
    content: "\e922";
}
.pico-file-plus:before {
    content: "\e923";
}
.pico-pen2:before {
    content: "\e924";
}
.pico-folder:before {
    content: "\e925";
}
.pico-folder-plus:before {
    content: "\e926";
}
.pico-person-cog:before {
    content: "\e927";
}
.pico-pin:before {
    content: "\e928";
}
.pico-pin2:before {
    content: "\e929";
}
.pico-pin3:before {
    content: "\e92a";
}
.pico-bin:before {
    content: "\e92b";
}

