body {
    background-color: #e5e5e5;
}

#idwrong, #pwwrong, #pwcheckwrong, #namewrong {
    display: none;
    height: 26px;
    width: 340px;
    text-align: center;
    margin: 0;
    padding: 5px 5px 5px 5px;
}

#center {
    position: absolute;
    top: 50%;
    left: 50%;
    overflow: hidden;
    margin-top: -150px;
    margin-left: -100px;
}