body {
    background-image: url("/img/origin/295b6704edba269215fbfb556309a905.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

#idwrong, #pwwrong, #pwcheckwrong, #namewrong {
    display: none;
    height: 26px;
    width: 340px;
    text-align: center;
    margin: 0;
    padding: 5px 5px 5px 5px;
}

#center {
    position: absolute;
    top: 20%;
    left: 5%;
    overflow: hidden;
    background-color: white;
    opacity: 0.8;
    border-radius: 10px;
<<<<<<< HEAD
}
#center form table{
    width: 70%;
=======
    width: 300px;
}
#center form table{
    width: 80%;
>>>>>>> bcb77d1540dfaa30d88c9b6319b8ccbb9ecbebe3
    margin: 0 auto;
}
#center form table tbody tr:first-child td input{
    margin-top: 5%;
    border-bottom: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
<<<<<<< HEAD
}
#center form table tbody tr:nth-child(2) td input{
    border-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
=======
    box-shadow: inset 0 0 0;
}
#center form table tbody tr:nth-child(2) td input{
    border-top: 1px solid #e3e3e3;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    box-shadow: inset 0 0 0;
}
#center form table tbody tr td input,
#center form table tbody tr td select{
    box-shadow: inset 0 0 0;
    border: 1px solid #e3e3e3
>>>>>>> bcb77d1540dfaa30d88c9b6319b8ccbb9ecbebe3
}
#center form table .btn-default{
    width: 100%;
    border: 0;
}
#find-id{
    width: 70%;
    display:block;
    margin: 0 auto;
    border: 0;
}
#years{
    width: 80px !important;
}
#months, #days{
    width: 70px !important;
}