body {
    background-image: url("/img/origin/295b6704edba269215fbfb556309a905.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

#idwrong, #pwwrong, #pwcheckwrong, #namewrong {
    display: none;
    text-align: center;
    padding: 5px 5px 5px 5px;
}
#mask-pre {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 800px;
    height: 400px;
}
#mask{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: white;
    opacity: 0.5;
    border-radius: 10px;
}
#center-pre{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 800px;
    height: 400px;
}
#center {
    position: relative;
    background-color: transparent;
    width: 100%;
    height: 100%;
    overflow: scroll;
}
#login-form,
#r-div{
    width: 50%;
    float: left;
    min-width: 300px;
}
#login-form form table{
    width: 72%;
    margin: 0 auto;
}
#rf table{
    width: 90%;
    margin: 0 auto;
}
#center form table tbody tr:first-child td input{
    margin-top: 10%;
    border-bottom: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    box-shadow: inset 0 0 0;
}
#center form table tbody tr:nth-child(2) td input{
    border-top: 1px solid #e3e3e3;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    box-shadow: inset 0 0 0;
    margin-bottom: 10px;
}
#r-div form table tbody tr:first-child td input{
    margin-top: 0;
    border-bottom: 1px solid #e3e3e3;
    border-radius: 4px;
    box-shadow: inset 0 0 0;
}
#r-div form table tbody tr:nth-child(2) td input{
    border-bottom: 1px solid #e3e3e3;
    border-radius: 4px;
    box-shadow: inset 0 0 0;
}
#center form table tbody tr td input,
#center form table tbody tr td select{
    box-shadow: inset 0 0 0;
    border: 1px solid #e3e3e3
}
#center form table .btn-default{
    width: 100%;
}
#find-id{
    width: 50%;
    display:block;
    margin: 0 auto;
    background-color: transparent;
    border: transparent;
    font-size: 12px;
    margin-top: 5px;
}
#years{
    width: 80px !important;
    padding: 6px;
}
#months, #days{
    width: 60px !important;
    padding: 6px
}
#rf table tbody tr td:first-child{
    width: 35%;
}
#rf table tbody tr td:nth-child(2){
    width: 65%;
}
#r-div form table tbody>tr{
    display: block;
    margin-top: 10px !important;
}
#submit{
    width: 288px !important;
    height: 62px;
    margin: 0 auto;
    margin-bottom: 10px;
    display: block;
    font-size: 18px;
    font-weight: 700;
    color: #abacab;
}
#naver_id_login_anchor img,
#facebook_id_login img{
    width:288px;
    height: 62px !important;
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
    border-radius: 4px;
    cursor: pointer;
}
#r-div>p{
    padding: 0 30px;
    font-size: 12px
}
#r-div>p a{
    cursor: pointer;
}
.form-control {
    border: 1px solid #f1f1f1;
}
.form-control:focus{
    border: 1px solid #f1f1f1;
}